page-login,
.login {
    .login-content{
        color: #ffffff !important;
    }

    .back-bg{
        background-color: #ff7cd8 !important;
    }

    .pink-bg{
        color: #d13531 !important;
    }
}